body {
  padding-top: 55px;
  padding-left: 55px;
}

#datetime-picker {
  width: 200px;
  height: 25px;
}

button {
  width: 60px;
  height: 31px;
}

.timer {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
}
