.form {
  width: 250px;
  text-align: left;
  margin: 20px;
}

label {
  width: 100%;
}

input[type='number'],
button {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 10px;
}

fieldset {
  width: 223px;
  margin-left: 0;
  margin-bottom: 10px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 250px;
  height: 25px;
}
